{% extends "base.html"%} {% block title %}Data{%endblock%} {%block content%}

<form method="POST">
    <h3 align="center" style="margin-top: 20px">Enter data</h3>
    <div class="form-group">
        <label for="license_plate">License Plate</label>
        <!---<input
            id="plate"
            type="text"
            name="plate"
            class="form-control"
            placeholder="License plate"
        /> -->
        <select
            id="selected_car"
            name="selected_car"
            class="form-select form-select-sm"
            aria-label=".form-select-sm example"
        >
            <!--<option selected>Please select license plate</option> -->
            {%for car in cars%}
            <option value="{{car.license_plate}}">{{car.license_plate}}</option>
            {%endfor%}
        </select>
        <label for="amount">Amount (liter)</label>
        <input
            id="amount"
            type="number"
            step="0.1"
            name="amount"
            class="form-control"
            placeholder="Enter fuel amount in liter"
        />
        <label for="date"
            >Date (if you don't specify the exact date, today's date will be set
            as default)</label
        >
        <input id="date" type="date" name="date" class="form-control" />
        <br />
        <button type="submit" class="btn btn-primary btn-lg">Send data</button>
    </div>
</form>

{%endblock%}
