{% extends "base.html"%} {% block title %}Login{%endblock%} {%block content%}

<form method="POST">
    <h3 align="center" style="margin-top: 20px">Enter username and password</h3>
    <div class="form-group">
        <label for="username">Username</label>
        <input
            id="username"
            type="text"
            name="username"
            class="form-control"
            placeholder="Enter username"
        />
        <label for="password">Password</label>
        <input
            id="password"
            type="password"
            name="password"
            class="form-control"
            placeholder="Enter password"
        />
        <br />
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </div>
</form>

{%endblock%}
